*{
    padding:0;
    margin:0;
}
body{
    background-color: #A7E8D6;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.box-header{
    background-color: rgb(71, 176, 32);
    display:flex;
    height:50px;
    max-width:250vw;
}

.section1{
    background-color: blue;
    display:flex;
    height:500px;
    max-width:250vh;
    flex-direction: row;
}
 /* aqui mudei so o column */
.section2{
    background-color: blue;
    display:flex;
    height:500px;
    max-width:250vw;
    flex-direction:row;
}

.box-text1,.box-text2{
    background-color: rgb(137, 135, 0);
    width:150vw;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap:20px;
    color:white;
}

.section2-title{
    background-color: rgb(77, 0, 73);
    height:70px;
    max-width:250vw;
    padding-top:20px;
    text-align: center;
    font-size:30px;
    color:white;
}

.box_img1,.box_img2{
    position: relative;
    background-color: red;
    width:100vw;
    height:500px;
    display:flex;
    align-items: center;
    justify-content: center;

}

.img1{
    width: 400px;       
    height: 400px;
    border-radius: 50%; 
    object-fit: cover; 
 }

 .img2{    
    width: 300px;       
    height: 300px;
    border-radius: 50%; 
    object-fit: cover; 
    display: block; 
    position: absolute; 
    top: 20px;
    left: 60px;
    z-index: 10; 
    
 }

 .img3{ 
    height: 300px;
    width: 300px;
    border-radius: 50%; 
    object-fit: cover; 
    position: absolute;
    bottom:60px;
   
   
 }
/* mesmo do css principal */
 .btn {
    width: 600px;
    height:70px;
    border: none;
    border-radius: 10px;
    background: #0f766e;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.03);
    background: #0b5e58;}